html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

nav{
    background-color:lightgreen;
    margin: 0 auto 30px;
    width: 1100px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav a:link { 
    color: black;
    text-decoration:none;
}
nav a:visited {
    color:grey;
    text-decoration:none;
}

nav a:hover {
    color:blue;
    text-decoration:underline;
}

nav a:active {
    color:cyan;
    text-decoration:underline;
}

nav a:focus {
    color:purple;
    text-decoration:underline;
    text-decoration-style:dashed;
}

.pages{
    left:0;
    min-height: 2rem;
    position: relative;
    right: 0;
    top: 0;
    text-align:center;
}

.pages li{
    display:inline-block;
    padding: 2rem;
}

.pages a:hover{
    background-color:white;
    color:blue;
    padding: 3rem;
    transition:all 1s ease-out;
}


.parent {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
height:680px;
margin: 0 auto;
width:1100px;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 4; 
}
.div2 { 
    background-color:blue;
    grid-area: 3 / 1 / 5 / 4; 
}
.div3 { 
    background-color:red;
    grid-area: 1 / 4 / 3 / 6; 
}
.div4 { 
    background-color:green;
    grid-area: 1 / 6 / 2 / 8; 
}
.div5 { 
    background-color:purple;
    grid-area: 2 / 6 / 3 / 8; 
}
.div6 { 
    background-color: yellow;
    grid-area: 3 / 4 / 4 / 5; 
}
.div7 { 
    background-color:brown;
    grid-area: 3 / 5 / 4 / 6; 
}
.div8 { 
    background-color:blueviolet;
    grid-area: 4 / 4 / 5 / 6; 
}
.div9 { 
    background-color:aqua;
    grid-area: 3 / 6 / 5 / 8; 
}

